@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-variation-settings: 'slnt' 0;
  font-style: normal;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1 0 auto;
}
